
/* div{
    width: 500px;
    background-color: blueviolet;
    background-color:rgb(141, 45, 231);
    background-color: #8a2be2;
  margin: auto;
    padding: 20px;
} */

/* .assign-1-shape-1{
  background-color:rgb(141, 45, 231);
  margin-top: 20px;
  
  
}
.assign-1-shape-2{
background-color:rgb(141, 45, 231,.5);
margin-top: 20px;
}
.assign-1-shape-3{
    background-color:rgb(141, 45, 231,.1);
    margin-top: 20px;
} */



/* div{
    width: 400px;
    height: 400px;
 
   
}  */
