.parent{
    background-color: #eee;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    transition-duration: 0.5s;
}
.child{
    width: 200px;
    height: 100px;
    margin: 60px;
    border: solid black;
    transition-delay: .5s;
    background-color: rgb(133, 128, 128);
    text-align: center;
    transition-property:margin;
    transition-timing-function:ease-in-out
}


.parnt .span-1 {
    padding: 20px;
    display: inline-block;
}


.span-2 {
    background-color: #DDDD;
    padding: 20px;
    width: 320px;
    margin: auto;
    margin-top: 0px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: margin-top;
    display: inline-block;
}
.parnt:hover {
    margin-top: 0px;
}

.span-2:hover {
    margin-top: 30px;
}
