.parent{

    width: 600px;
    height: 300px;
    background-color: rgb(226, 218, 218);
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.parent div{
    background-color: rgb(28, 181, 201);
}
.one{
   align-self: flex-end;
}
.two{
  order:3 ;
}
.three{
order: 4;
}
.four{
order: 5;
}
.five{
order:6 ;
}
.six{
    order: 1;
}