.parent{
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding:20px;
 justify-content: space-evenly;
 background-color: rgb(241, 233, 233);

}
.parent div{
 
    color: white;
    width: calc( 80% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    display: flex;
    order: 2;
    background-color: orange;
   align-self: flex-start;
   height: 150px;
}
.two{
    display: flex;
    order: 3;  
    background-color: #23d746;
    align-self: flex-end;
    height: 150px;
}
.three{
    display: flex;
    order: 4; 
    background-color: #785005;
    align-self: flex-start;
    height: 150px;

}

.four{
    display: flex;
    background-color: #8c00ff;
    align-self: flex-end;
    height: 150px;

}