.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(9, 30px);
    gap: 316px;
    font-size: 30px;
 
  }
  
  .grid div{
    background-color: rgb(236, 12, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight:bold;


   
  }